es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.6.0/es_core_news_sm-3.6.0-py3-none-any.whl#sha256=917d0b6359b27b222ccd616c47b43ee951f05da7402fdccce99364a465fa95d6
pytesseract
numpy
opencv-python
wget
pillow
matplotlib
imutils
scikit-learn
pandas
zipfile
seaborn
easyocr
wordcloud
spacy
tensorflow